<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %cyan(%d{HH:mm:ss.SSS}) %red([%t]) %highlight([%level]) %green(%logger{36}) - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="ASYNC-CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE" />
    </appender>

    <root level="info">
        <appender-ref ref="ASYNC-CONSOLE"/>
    </root>

</configuration>